.hero-img {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	height: 50vh;
	position: relative;
}

.hero-img::before {
	content: '';
	background-image: url('../assets/projectsbg.jpg');
	background-size: cover;
	background-position: center top;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.heading {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-img h1 {
	font-size: 3.4rem;
	animation: glow 2s ease-in-out infinite alternate;
	
}

.hero-img p {
	font-size: 2.3rem;
	text-align: center;
	max-width: 66%;
}

@keyframes glow {
	from {
		text-shadow: 0 0 10px #fefefe;
	}
	to {
		text-shadow: 0 0 30px #fefefe, 0 0 5px #fdfdfd;
	}
}

@media screen and (max-width: 640px) {
	.hero-img h1 {
		font-size: 2rem;
	}
}
