.mask {
	width: 100%;
	height: 65vh;
	position: relative;
}

.intro-img {
	width: 100%;
	height: 65vh;
	background-size: cover;
	background-position: center;
	object-fit: cover;
	opacity: 0.15;
	position: absolute;
}

.mask::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.6;
}

.hero {
	height: 100%;
	width: 100%;
}

.hero .content {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 30%;
	left: 50%;
	text-align: center;
}

@keyframes glow {
	from {
		text-shadow: 0 0 10px #fefefe;
	}
	to {
		text-shadow: 0 0 30px #fefefe, 0 0 5px #fdfdfd;
	}
}
.hero .content h1 {
	font-size: 4rem;
	padding: 0.5rem 0 1.5rem;
	animation: glow 2s ease-in-out infinite alternate;
}

.hero .content p {
	font-size: 1.4rem;
	font-weight: 200;
	text-transform: uppercase;
}

.content .btn {
	margin: 1rem 0.5rem;
}

@media screen and (max-width: 640px) {
	.hero .content h1 {
		font-size: 3rem;
	}

	.hero .content p {
		font-size: 1.5rem;
	}
}
